main {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: 3ch;
  margin-bottom: 3px;
}

h2 {
  text-align: center;
  margin-top: 1ch;
  margin-bottom: 1ch;
}

img {
  width: 400px;
  height: 300px;
  border-radius: 70%;
  text-align: center;
}

hr {
  background-color: black;
  height: 5px;
  margin: auto 3%;
}

.cooking {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2ch;
  padding: 2%;
  margin: 2% 5%;
}

.cooking-content {
  width: 80%;
}

.gaming {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2ch;
  padding: 2%;
  margin: 2% 5%;
}

.gaming-content {
  width: 80%;
}
