* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: white; */
  background-image: url("./images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100vw 100vh;
}

main {
  display: flex;
  flex: 1;
  gap: 1ch;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1ch;
  background: #95b2b8;
}

header p {
  font-size: 3rem;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 2ch;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 3ch;
  font-weight: bold;
}

footer {
  /* display: flex;
  justify-content: space-between; */
  /* align-items: center; */
  padding: 2ch;
  text-align: center;
  background: lightblue;
}

footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
