* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("./images/background.jpeg");
  background-size: 100vw 100vh;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 5ch;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1ch;
  border: 2px solid green;
}

.content-container {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

p {
  font-size: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1ch;
  background: #95b2b8;
}

header p {
  font-size: 3rem;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 2ch;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 3ch;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 2ch;
  background: lightblue;
}
