* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/background.jpeg");
  background-size: 100vw 100vh;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 2ch;
}

main {
  display: flex;
}

footer {
  text-align: center;
  padding: 2ch;
  background: lightblue;
}

footer p {
  font-size: 10px;
  padding: 5px;
}

#A {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#B {
  display: flex;
  flex-direction: column;
}

#C {
  display: flex;
  flex-direction: column;
}
